<html>
	<head>
    <!-- 'title' is the data that is passed from the index.js during the response.render function call -->
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a>
		</div>
	<h1><%= title %></h1>
	</body>
</html>
