body {
	height: 100vh;
    background: url(photos/background2.jpg) no-repeat center;
    background-size: cover;
}
.eventBody {
	background: url(photos/loginBackgroundweb.jpg) no-repeat center;
    background-size: cover;
}
.newUser {
	color: #6c757d;
	text-decoration: underline;
}
.newUser:hover {
	color: #6c757d;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
.back {
	background-color: #d6d6d6d1;
}
.eventForm {
	flex: 0 0 66%;
}
.signUP {
	display: none;
}
.error {
	color: red;
}
.goodmessage {
	color: green;
	margin: 0;
}
.badmessage {
	color: red;
	margin: 0;
}